server_id = "" # your discord server's ID
server_layout = {
  testcat1 = {
    position = 0
    text_channels = {
      tchan1 = {
        position = 0
        topic = "nsfw channel"
        nsfw = true
      },
      tchan2 = {
        position = 1
        topic = "sfw cats"
        nsfw = false
      },
      tchan3 = {
        position = 2
        topic = "sfw cats"
        nsfw = false
      }
    }
    voice_channels = {
      vchan1 = {
        position = 0
        bitrate = 96000
        userlimit = 5
        sync_parent_category_permitions = true
      }
    }
  },
  testcat2 = {
    position       = 1
    text_channels = {
      tchan1 = {
        position = 0
        topic = "nsfw channel"
        nsfw = true
      },
      tchan2 = {
        position = 1
        topic = "sfw cats"
        nsfw = false
      }
    }
    voice_channels = {
      vchan1 = {
        position = 0
        bitrate = 96000
        userlimit = 5
        sync_parent_category_permitions = false
      }
    }
  }
}